html{
    scroll-behavior: smooth; /* rolagem de página suave no voltar ao TOPO*/
}
*, body{
    margin: 0;
    padding: 0;
}


.content{
    color: #333;
    padding: 2%;
}
.content h1{
    margin-bottom: 2%; 
}
.content p{
    margin-bottom: 2%;

}

.content img{
    margin-bottom: 2%; 
    margin-top: 2%;
}

#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    color: #333;
    background-color: burlywood;
    border-radius: 50%; 
    border: none; 
    display: none;
}

#btnTop:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.301);
}